* {
  box-sizing: border-box;
}


@media screen and (max-width: 330px) {

  body {
  background-color: #4E0110;
}

.navBar {
  background-color: #521C27;
  display: flex;
  margin-top: -85px;
  justify-content: center;
}

li {
  list-style-type: none;
  padding: .5rem;
  text-align: center
}

a:link {
  color: 
}

a:visited {

}

a:hover {
  color: #050202
}

a:target {

}

.nav-list {
  text-decoration: none;
  font-family: Josefin Sans;
  font-size: 1.3rem;
  color: #cbff8c;
  margin-right: 44px;
}

.nav-link {
  text-decoration: none;
  font-family: Josefin Sans;
  font-size: 1.3rem;
  color: #cbff8c;
}

.name-sig {
  font-family: Homemade Apple;
}
}

@media screen and (min-width: 331px) {

  body {
  background-color: #4E0110;
}

.navBar {
  background-color: #521C27;
  display: flex;
  margin-top: -65px;
  justify-content: center;
}


li {
  list-style-type: none;
  padding: .5rem;
}

a:link {
  color: 
}

a:visited {

}

a:hover {
  color: #050202
}

a:target {

}

.nav-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 0;
}

.nav-link {
  text-decoration: none;
  font-family: Josefin Sans;
  font-size: 1.3rem;
  color: #cbff8c;
}

.name-sig {
  font-family: Homemade Apple;
  margin-top: -2px;
}
}

@media screen and (min-width: 479px) {

.navBar {
  display: flex;
  margin-top: -15px;
  justify-content: center;
}

li {
  list-style-type: none;
}

a:link {
  color: 
}

a:visited {

}

a:hover {
  color: #050202
}

a:target {

}

.nav-list {
  display: flex;
  align-items: center;
  padding: 0px 20px;
  flex-direction: column;
}

.nav-link {
  text-decoration: none;
  font-family: Josefin Sans;
  font-size: 1.75rem;
  color: #cbff8c;
}

.name-sig {
  font-family: Homemade Apple;
}
}

@media screen and (min-width: 720px) {

  body {
  background-color: #4E0110;
}

.navBar {
  background-color: #521C27;
}

li {
  list-style-type: none;
}

a:link {
  color: 
}

a:visited {

}

a:hover {
  color: #050202
}

a:target {

}

.nav-list {
  display: flex;
  align-items: center;
  padding: 0px 20px;
  flex-direction: row;
}

.nav-link {
  text-decoration: none;
  font-family: Josefin Sans;
  font-size: 1.75rem;
  color: #cbff8c;
}

.name-sig {
  font-family: Homemade Apple;
}
}